<html lang="en" ng-app="teaser">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,100,700' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <title>HackGT</title>
</head>
<body ng-controller="TeaserController">
  <div class="res">
  	<div class="background">
      <div class="layer" data-depth="0.10">
        <img src="img/laptop.png" id="laptop">
      </div>
      <div class="layer" data-depth="0.30">
    		<img src="img/phoneA.png" id="phone">
      </div>
      <div class="layer" data-depth="0.20">
        <img src="img/notebook.png" id="notebook">
      </div>
      <div class="layer" data-depth="0.40">
        <img src="img/pen.png" id="pen">
      </div>
      <div class="layer" data-depth="0.20">
    		<img src="img/plant.png" id="plant">
      </div>
      <div class="layer" data-depth="0.35">
    		<img src="img/tea.png" id="tea">
      </div>
      <div class="layer" data-depth="0.25">
    		<img src="img/headphones.png" id="headphones">
      </div>
      <div class="layer" data-depth="0.35">
    		<img src="img/peach.png" id="peach">
      </div>
  	</div>
  </div>
	<div class="content">
	  <h1>Hack<strong>GT</strong></h1>
	  <div class="date">September 23 – 25, 2016</div>
    <div ng-form name="myForm">
      <input name="emailBox" placeholder="Email" id="emailInput" class="email" type="text" ng-model="email" ng-class="{error: !emailValid() && myForm.emailBox.$dirty && email.trim()}" required>
      <button class="button" type="SUBMIT" ng-click="submitEmail()">Subscribe</button>
    </div>
	</div>
  <a href="http://sponsors.hackgt.com/"><div class="bottomBar">Sponsorship Information</div></a>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/script.js"></script>
  <script type="text/javascript" src="javascripts/jquery.parallax.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.background').parallax();
    setTimeout(function(){
      $('#phone').addClass('shake');
      setTimeout(function(){
        $('#phone').attr('src', 'img/phoneB.png');
        setTimeout(function(){
          $('#phone').removeClass('shake');
        }, 750);
      }, 100);
    }, 5000);
  });
  </script>
</body>
</html>
