<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='https://fonts.googleapis.com/css?family=Advent+Pro:400,100,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
  <script src="/javascripts/jquery-2.2.3.js"></script>
  <script src="/javascripts/script.js"></script>
  <title>HackGT</title>
</head>
<body>
<div class="stars"></div>
<div class="content">
  <h1>Hack<strong>GT</strong></h1>
  <h2>Coming Soon</h2>
  <div class="date">September 9 – 11, 2016</div>
  <div class="email">
	  <input id="emailInput" type="text" name="email"> <br><br>
	  <button id="submitEmail" type="button">Submit Email and Stay Updated!</button>
  </div>
</div>
</body>
</html>
