@charset "utf-8";
/* CSS Document */

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    overflow: hidden;
}

.popup-message {
  position: fixed;
  z-index: 100;
  background-color: rgba(100, 100, 100, 0.5);
  color: #eee;
  width: 100%;
  height: 100%;
}

.popup-message > div {
  font-size: 2em;
  padding: 1em;
  background: rgba(70, 50, 103, .75);
  text-align: center;
}

.popup-error pre {
  text-align: left;
  font-size: .75em;
}

.res {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('retina_wood.png');
    overflow: hidden;
}

.error:focus {
  color: #ab323c;
}

.bottomBar {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background: #463267;
    color: #eee;
    font-size: 18px;
    opacity: .75;
    transition: .3s all;
}

.bottomBar:hover {
    opacity: 1;
    padding: 20px;
}

.shake {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.4s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


.background {
    position: absolute;
    width: 1400px;
    height: 750px;
    left: 50%;
    margin-left: -700px;
    top: 50%;
    margin-top: -375px;
}

.background img {
    position: absolute;
}

#headphones {
    display: block;
    height: 230px;
    left: 210px;
    top: 180px;
    transform: rotate(-8deg);
}

#tea {
    display: block;
    height: 200px;
    left: 350px;
    top: 0px;
}

#plant {
    display: block;
    right: 0px;
    left: 980px;
    top: 250px;
    height: 350px;
}

#phone {
    display: block;
    height: 450px;
    left: 315px;
    top: 350px;
    transform: rotate(-15deg);
}

#pen {
    display: block;
    height: 200px;
    left: 913;
    top: 300px;
    transform: rotate(14deg);
}

#peach {
    display: block;
    height: 150px;
    left: 140px;
    top: 500px;
    transform: rotate(-5deg);
}

#notebook {
    display: block;
    height: 600px;
    left: 678px;
    top: 450px;
    transform: rotate(24deg);
}

#letter {
    display: none;
}

#laptop {
    display: block;
    height: 600px;
    right: -210px;
    top: -230px;
    transform: rotate(25deg);
}

.content h1 {
    font-size: 100px;
    color: #262626;
    font-weight: 300;
    margin: 0;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 320px;
    margin-left: -160px;
    margin-top: -120px;
}

.email {
    font-family: 'Advent Pro', sans-serif;
    width: 190px;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    margin-right: -5px;
}

.button {
    display: inline-block;
    font-family: 'Advent Pro', sans-serif;
    color: #EEE;
    border: none;
    height: 40px;
    padding: 10px;
    font-size: 15px;
    background: rgba(53,33,95,.9);
    outline: none;
    transition: .3s all;
}

.button:hover {
    cursor: pointer;
    background: rgba(53,33,95,1);
    padding: 10px 20px;
    margin-left: -20px;
}

.content .date {
    font-size: 30px;
    color: #262626;
    margin: -10px 0 15px;
}




@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(-15deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-16deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(-14deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(-15deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(-14deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-16deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(-15deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-16deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(-14deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(-15deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-16deg); }
}
